<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link href="../../static/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/styles/css/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/styles/css/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/styles/css/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../static/styles/style.css" rel= "stylesheet">
  
</head>
<button class="back-button" onclick="history.back()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
  </svg>
  <img src="../../static/images/arrows.png" alt="linkedin" height="20" width="20">
  Back 
</button>
 <!-- About Section -->
 <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>I am a software developer and a Graphics designer with passion in building intuitive, user-friendly web application, 
        always interested in connecting with like-minded people mostly those who are interested in bridging education and technology.
        A part of career development I like mentoring young individuals who have good passion in educational and technology matters.
      </p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="../../static/images/tony.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 content">
          <h2>Graphics Designer &amp; Web Developer.</h2>
          <p class="fst-italic py-3">
            My personal data is as follows;
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>13 Sept 2001</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>tonny/resume.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254743238703</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kilifi, Kenya</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>tonnykithi@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong> <span>Kenyan</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Skills Section -->
  <section id="skills" class="skills section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Skills</h2>
      <p>The level of my skills in its recent </p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill"><span>HTML</span> <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="70" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>CSS</span> <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>JavaScript</span> <i class="val">45%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill"><span>Python</span> <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>Graphics</span> <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>React</span> <i class="val">15%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

        </div>

      </div>

    </div>

  </section><!-- /Skills Section -->

  <script src="../../static/style/js/bootstrap.min.js"></script>
</body>
</html>